{% extends 'blog/base.html' %}

{% block content %}
    <h1 class="light-blue-text text-darken-4"> <span class="z-depth-1" style="border-radius: 10px">New comment</span></h1>
    <form method="POST" class="post-form">{% csrf_token %}

        <table class="flow-text light-blue-text text-darken-4 highlight">
            
            {{ form.as_table}}

        </table>
        {% comment %} {{ form.as_p }} {% endcomment %}

        <div class="div col s4 offset-s4 center">
            <button type="submit" class="save btn btn-default">Send <i class="material-icons prefix right">send</i> </button>
        </div>
        
    </form>
{% endblock %}