<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog django-girls</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    
	<script type="text/javascript" src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body class="orange accent-4">
    

    <nav class="nav-extended orange darken-4">
        <div class="nav-wrapper">
            
            <div class="center-align hoverable">

                <header><div>

                    <h1><a href="{% url 'post_list' %}">Primer Blog (django-girls)</a></h1> 
                    
                    {% if user.is_authenticated %}
                        <div class="nav-content">
                            <a href="{% url 'post_new' %}" class="btn-floating btn-large halfway-fab waves-effect waves-light red accent-4 right">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    {% endif %}

                </div></header>
            
            </div>



        </div>
    </nav>

    <div class="container">
    <section>
        
        <div class="row"> 

            {% block content %}
            {% endblock %}

        </div>

    </section>
    </div>

</body>
</html>