<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog django-girls{%block title%} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize-icons.css' %}">
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
	{% comment %} <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script> {% endcomment %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
	{% comment %} <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- probando -->
{% comment %}     <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% static "js/jquery-3.2.1.min.js" %}'%3E"));
            document.write(unescape("%3Cscript src='{% static "js/materialize.min.js" %}'%3E"));
            document.write(unescape('%3Clink rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" /%3E'));
        }
    </script> {% endcomment %}
    
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <script>

        $(document).ready(function(){

            $('.tooltipped').tooltip({delay: 50});

            $('.fixed-action-btn').floatingActionButton();

            // Initialize materialize data picker
            $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
            $('select').formSelect();

        });

    </script>

</head>
<body class="teal lighten-4">
    
    <nav class="navbar-fixed hoverable light-blue darken-2">

        <div class="nav-content hoverable light-blue darken-2 center">

            <a class="nav-title center" href="{% url 'post_list' %}"><span> Primer Blog (django-girls)</span></a>

        </div>
    </nav>

    <!-- floating-action-button -->
    {% if user.is_authenticated %}

        <div class="fixed-action-btn">
            <a class="btn btn-floating btn-large dropdown-trigger right dropdown-button" data-target='dropdown1'> <!--  data-activates='dropdown1'-->
                <i class="large material-icons right">account_box</i>
            </a>

            <ul>
                <li>
                    <a href="{% url 'post_new' %}" class="btn-large btn-floating waves-effect light-blue darken-2 waves-light tooltipped" data-position="left" data-tooltip="Agregar post"><i class="material-icons large">add</i></a>
                </li>

                <li>
                    <a href="{% url 'post_draft_list' %}" class="btn-large btn-floating waves-effect waves-light tooltipped" data-position="left" data-tooltip="Borradores"><i class="material-icons large">drafts</i></a>
                </li>

                <li>
                    <a href="{% url 'logout' %}" class="btn-large btn-floating waves-effect red waves-effect waves-light tooltipped" data-position="left" data-tooltip="Cerrar sesión"><i class="material-icons large left">person_outline</i> </a>
                </li>
            </ul>
        </div>

    {% else %}

        <div class="fixed-action-btn">
            <a class="btn btn-floating btn-large">
                <i class="large material-icons right">account_box</i>
            </a>

            <ul>
                <li>
                    <a class="btn-large btn-floating waves-effect waves-light light-blue darken-2 tooltipped" data-position="left" data-tooltip="Iniciar sesión" href="{% url 'login' %}">
                        <i class="material-icons">account_circle</i>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
  

    <div class="container" style="margin: 60px auto auto auto;">

        <section>
            
            <div class="row"> 

                {% block content %}
                {% endblock %}

            </div>

        </section>
    </div>

</body>
</html>