{% extends 'blog/base.html' %}
    
    {% block content %}

        <h2>Crear/editar nuevo post</h2>

        <form method="POST" style="border-radius: 10px;" class="flow-text"> {% csrf_token %}
            <table class="flow-text text-black">
            
            {{ form.as_table}}

            </table>

            <button class="btn waves-effect red accent-4 center-align" type="submit" name="enviar">Enviar
                <i class="material-icons right">send</i>
            </button>

        </form>

        
    
    {% endblock %}