{% extends 'blog/base.html' %}

    {% block content %}

        <div class="section col s12 indigo lighten-5" style="border-radius: 10px;">
            
            {% if post.published_date %} 
                <p>{{post.published_date}}</p>
            {% else %} 
                <div class="col s6">
                    <p> Sin fecha de publicación :( </p>
                </div>
                
                <div class="col s6 center">
                    <a class="btn waves-effect tooltipped" data-tooltip="Publicar" href="{% url 'post_publish' pk=post.pk %}">Publish<i class="material-icons prefix left">publish</i></a>
                </div>
                
            {% endif %}
            
            <div class="clearfix"></div>
            <h2 class="hoverable light-blue-text text-darken-4"><a href="{% url 'post_detail' pk=post.pk %}"> {{post.title}} </a>

                {% if user.is_authenticated %}
                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn-floating btn-large waves-effect waves-light right tooltipped" data-tooltip="Editar post"><i class="material-icons">mode_edit</i></a>
                    <a href="{% url 'post_remove' pk=post.pk %}" class="btn-floating btn-large waves-effect waves-light right tooltipped" data-tooltip="Eliminar post"><i class="material-icons">delete</i></a>
                {% endif %}

            </h2>

            <p class="flow-text">{{post.text|linebreaksbr}}</p> 
        </div>

        <hr>
        <div class="section">

            <div class="col s10 offset-s1 indigo lighten-5" style="border-radius: 10px;">
                {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="comment">
                            <div class="date">
                                {{ comment.created_date }}
                                {% if not comment.approved_comment %}
                                    <div class="right">
                                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"> <i class="material-icons prefix">delete</i></a>
                                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"> <i class="material-icons prefix">done</i></a>
                                    </div>
                                {% endif %}
                                <strong> <span class="flow-text blue lighten-5">{{ comment.author }}</span></strong>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="divider black"></div>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}

                <div class="col s4 center offset-s4">
                    <a class="white-text waves-effect waves-light btn tooltipped" data-position="left" data-tooltip="Añadir comentario" href="{% url 'add_comment_to_post' pk=post.pk %}"><i class="material-icons prefix">insert_comment</i></a>
                </div>
                

            </div>

        </div>

    {% endblock %}