{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="divider black col s12"></div>
        <div class="post section col s12 indigo lighten-5">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <div class="div hoverable"><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></div>
            
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
        
    {% endfor %}
{% endblock %}