{% extends 'blog/base.html' %}
    
    {% block content %}

        {% for p in posts %}

            <article>
                <div class="section col s12 indigo lighten-5">
                    
                    {% if p.published_date %} 
                        <p>{{p.published_date}}</p>
                    {% else %} 
                        <p> Sin fecha de publicación :( </p>
                    {% endif %}

                    <h2 class="hoverable light-blue-text text-darken-4"><a href="{% url 'post_detail' pk=p.pk %}"> {{p.title}} </a></h2>
                    <p class="flow-text">{{p.text|linebreaksbr}}</p> 
                    
                    <a class="btn right waves-effect" href="{% url 'post_detail' pk=p.pk %}">Comments: {{ p.approved_comments.count }}</a>


                </div>
            </article>
            
            <div class="row col s12 divider black"></div>

        {% endfor %}

    {% endblock %}